# Ignore sensitive files
top_secret.py

# Ignore checkpoint files
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/

# Ignore log files
*.log

# Ignore environment files
.env


.ipynb_checkpoints/
